<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <% if log_in? %>
      <label for="">You are Logged In, <%= current_user.fullname %></label>
      <%= link_to "Logout", logout_path, method: :delete %>
      <%= link_to 'Category',categories_path %>
    <% else %>
     <%= link_to 'Register',users_sign_up_path %>
     <%= link_to 'Login',login_path %>
    <%end%>
    <%= render 'shared/slider' %>
  </body>
</html>
